body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 1px solid transparent;
}

html{
  height: 100%; 
}

h1, h2, h3, h4{
  font-family: sans-serif;
}

h1{
  font-size: 30px;
 /* border-bottom: 1px solid #DDDDDD; */
   background: #DDDDDD;
}

h2{
  font-size: 27px;
  border-bottom: 1px solid #DDDDDD;
}

iframe.video{
  width: 620px;
  height: 495px;
  border: 0px;
  margin: 0px;
}

iframe.calendar{
  width: 650px;
  height: 650px;
  margin: -30px;
  padding: 0px;
}

pre{
  background: #DDDDDD;
  padding: 20px;
}

ul {
  list-style-type:square
}

.colwid1{
  width: 125px;
  float: left; 
}

.colwid2{
  width: 215px;
  float: left; 
}

.colwid3{
  width: 300px;
  float: left; 
}

.colwid4{
  width: 390px;
  float: left; 
}

.colwid5{
  width: 485px;
  float: left;
}

.float{
  width: 650px;
  margin: 0px auto 0px auto; 
  padding-left:40px;
}

.navlink{
  background: #999999;
  color: white;  
  display: inline-block;
  border-radius: 3px;
  padding: 8px 8px 5px 8px;
  text-decoration: none;
    transition: background .2s ease-in;
  -moz-transition: background .2s ease-in;
  -webkit-transition: background .2s ease-in;
}

.navlink:hover{
  background: #0000BB;
  transition: background .2s ease-in;
  -moz-transition: background .2s ease-in;
  -webkit-transition:background .2s ease-in;
}

#current{
  background: #0000BB;
  color:white;
  transition: background .2s ease-in;
  -moz-transition: background .2s ease-in;
  -webkit-transition: background .2s ease-in;
}

#current:hover{
  background: #0000DD;
  color:white;
  transition: background .2s ease-in;
  -moz-transition: background .2s ease-in;
  -webkit-transition: background .2s ease-in;
}

#footer{
  padding-top: 40px;
}

#footer a{
  color: #0000BB;
  background: none;
  text-decoration: none;
  transition: text-decoration.2s ease-in;
  -moz-transition: text-decoration .2s ease-in;
  -webkit-transition: text-decoration .2s ease-in;
}

#footer a:hover{
  color: #0000BB;
  text-decoration: underline;
  transition: text-decoration.2s ease-in;
  -moz-transition: text-decoration .2s ease-in;
  -webkit-transition: text-decoration .2s ease-in;
}

#footer-content{
  padding-bottom: 5px;
  font-size: 10pt;
}

#main{
  background: white;
}

#main-content{
  background: none;
  color: black;
  padding-top: 10px;
}

#main-content a{
  color: #0000BB;
  text-decoration: none;  
  transition: text-decoration.2s ease-in;
  -moz-transition: text-decoration .2s ease-in;
  -webkit-transition: text-decoration .2s ease-in;
}

#main-content a:hover{
  color: #0000BB;
  text-decoration: underline;
  transition: text-decoration.2s ease-in;
  -moz-transition: text-decoration .2s ease-in;
  -webkit-transition: text-decoration .2s ease-in;
}

#navbar{
  padding-top: 20px;
}