I am a research scientist in the life sciences industry.
I like to solve scientific problems from a statistician's perspective,
and I like to build tools for data analysis. I develop and maintain some R packages
on <a href="https://cran.r-project.org">CRAN</a>, including
<a href="https://CRAN.R-project.org/package=drake">drake</a>
and <a href="https://CRAN.R-project.org/package=downsize">downsize</a>.
I am also a minimalist, a sailor (wind-powered, not military),
a climber, a CrossFitter, and a martial artist.
