<ul>
  <li><a href="https://www.linkedin.com/in/wlandau">LinkedIn</a></li>
  <li><a href="{{ site.github }}">GitHub</a></li>
  <li><a href="{{ "/calendar/index.html" | prepend: site.baseurl }}">Calendar</a></li>
  <li>
    <script language="JavaScript">
      var username = "will.landau";
      var hostname = "gmail.com";
      var linktext = "Email"; //username + "@" + hostname ;
      document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
    </script>
  </li>
</ul>
